.home-page {
  align-items: center;
  border: 1px solid;
  background-color: #4680b0;
  display: flex;
  color: white;
  flex-direction: column;
  height: 100vh;
  width: auto;
}

.navigation-c {
  background-color: var(--white);
  height: 50px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 100%;
}

.logout {
  height: 40px;
  right: 10px;
  position: absolute;
  top: 10px;
  width: 103px;
}

.create-invoice,
.my-invoices,
.send-invoice,
.render-invoice,
.check-inbox {
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  text-align: center;
  width: auto;
}

.header {
  position: relative;
}

.logo-image {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 50px;
  height: 50px;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

/* Logout */
logout-button {
  border: none;
  cursor: pointer;
  color: #4680b0;
}

/* Buttons */
home-page-button {
  border: none;
  cursor: pointer;
  color: #4680b0;
}

.home-buttons {
  border: none;
  cursor: pointer;
  width: 230px;
  height: 230px;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
