.authentication-page,
.send-page {
  text-align: center;
  display: flex;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #4680b0;
}

.register-form,
.send-Invoice-form,
.send-page {
  border: none;
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  height: 30px;
  width: 350px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #4680b0;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
